Fielduino.json
[{"id":"75111ceb.ce2674","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bca8a78.5a1e658","type":"serial in","z":"75111ceb.ce2674","name":"","serial":"188a0766.4af2c9","x":89,"y":462,"wires":[["ef2aa30f.46c5b","624ad067.6ed6f"]]},{"id":"ef2aa30f.46c5b","type":"debug","z":"75111ceb.ce2674","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":363,"y":342,"wires":[]},{"id":"624ad067.6ed6f","type":"switch","z":"75111ceb.ce2674","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Soil","vt":"str"},{"t":"cont","v":"Temperature","vt":"str"},{"t":"cont","v":"Humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":382,"y":422,"wires":[["44864820.d6df18"],["387e1d1a.3cba92"],["7400e92b.6cc298"]]},{"id":"44864820.d6df18","type":"function","z":"75111ceb.ce2674","name":"Soil function","func":"const d=/-?(?:\\.\\d+|\\d+(?:\\.\\d*)?)(?:[+-]?[eE]\\d+)?/g;\nstr=msg.payload;\nmsg.payload = str.match(d)\nmsg.payload =parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":632,"y":257,"wires":[["72de58e5.94d348","2ff78e66.298462","f23d4ebe.905d"]]},{"id":"387e1d1a.3cba92","type":"function","z":"75111ceb.ce2674","name":"Temperature function","func":"const d=/-?(?:\\.\\d+|\\d+(?:\\.\\d*)?)(?:[+-]?[eE]\\d+)?/g;\nstr=msg.payload;\nmsg.payload = str.match(d)\nmsg.payload =parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":624,"y":421,"wires":[["45958595.c99a9c","e9e2614c.06e51","e77ce902.b45388"]]},{"id":"45958595.c99a9c","type":"debug","z":"75111ceb.ce2674","name":"Temperature message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":879,"y":439,"wires":[]},{"id":"bf69c000.cac69","type":"debug","z":"75111ceb.ce2674","name":"Humidity Message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":867.9999771118164,"y":606.0000495910645,"wires":[]},{"id":"7400e92b.6cc298","type":"function","z":"75111ceb.ce2674","name":"Humidity function","func":"const d=/-?(?:\\.\\d+|\\d+(?:\\.\\d*)?)(?:[+-]?[eE]\\d+)?/g;\nstr=msg.payload;\nmsg.payload = str.match(d)\nmsg.payload =parseFloat(msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":627,"y":573,"wires":[["bf69c000.cac69","3f2b59f3.3e8076","a267756c.a55428"]]},{"id":"72de58e5.94d348","type":"debug","z":"75111ceb.ce2674","name":"Soil message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":845,"y":258,"wires":[]},{"id":"2ff78e66.298462","type":"ui_gauge","z":"75111ceb.ce2674","name":"","group":"89eb9841.fcdb68","order":1,"width":0,"height":0,"gtype":"gage","title":"Υγρασία εδάφους","label":"","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"45","seg2":"","x":862,"y":191,"wires":[]},{"id":"e9e2614c.06e51","type":"ui_gauge","z":"75111ceb.ce2674","name":"","group":"53028324.f2fa7c","order":1,"width":0,"height":0,"gtype":"gage","title":"Θερμοκρασία αέρα","label":"C","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":882,"y":368,"wires":[]},{"id":"3f2b59f3.3e8076","type":"ui_gauge","z":"75111ceb.ce2674","name":"","group":"f3503f8a.6b43b","order":1,"width":0,"height":0,"gtype":"gage","title":"Υγρασία αέρα","label":"%","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860.9999771118164,"y":554.0000190734863,"wires":[]},{"id":"e77ce902.b45388","type":"ui_chart","z":"75111ceb.ce2674","name":"","group":"77dcd05b.680ba","order":1,"width":0,"height":0,"label":"Τελευταίες 100 μετρήσεις","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":915,"y":496,"wires":[[]]},{"id":"f23d4ebe.905d","type":"ui_chart","z":"75111ceb.ce2674","name":"","group":"38679517.81c73a","order":1,"width":0,"height":0,"label":"Τελευταίες 100 μετρήσεις","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"-20","ymax":"1023","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":898,"y":302,"wires":[[]]},{"id":"a267756c.a55428","type":"ui_chart","z":"75111ceb.ce2674","name":"","group":"9bb6afa.6cba55","order":1,"width":0,"height":0,"label":"Τελευταίες 100 μετρήσεις","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":893.017333984375,"y":704.0104370117188,"wires":[[]]},{"id":"188a0766.4af2c9","type":"serial-port","z":"","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"89eb9841.fcdb68","type":"ui_group","z":"","name":"Υγρασία εδάφους","tab":"ac6daf1c.4968c","order":3,"disp":false,"width":"9","collapse":false},{"id":"53028324.f2fa7c","type":"ui_group","z":"75111ceb.ce2674","name":"Θερμοκρασία","tab":"ac6daf1c.4968c","order":1,"disp":false,"width":"9","collapse":false},{"id":"f3503f8a.6b43b","type":"ui_group","z":"","name":"Υγρασία αέρα","tab":"ac6daf1c.4968c","order":2,"disp":false,"width":"9","collapse":false},{"id":"77dcd05b.680ba","type":"ui_group","z":"","name":"Θερμοκρασία αέρα","tab":"75db48d8.c88c28","order":1,"disp":false,"width":"30","collapse":false},{"id":"38679517.81c73a","type":"ui_group","z":"","name":"Υγρασία εδάφους","tab":"40476b8a.16c294","order":1,"disp":false,"width":"30","collapse":false},{"id":"9bb6afa.6cba55","type":"ui_group","z":"","name":"Υγρασία αέρα","tab":"c2ba96df.0fb608","order":1,"disp":true,"width":"30","collapse":false},{"id":"ac6daf1c.4968c","type":"ui_tab","z":"","name":"ΙΕΚ ΜΕΣΟΛΟΓΓΙΟΥ","icon":"fa-thermometer-quarter","order":1,"disabled":false,"hidden":false},{"id":"75db48d8.c88c28","type":"ui_tab","z":"","name":"Θερμοκρασία αέρα","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"40476b8a.16c294","type":"ui_tab","z":"","name":"Υγρασία εδάφους","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"c2ba96df.0fb608","type":"ui_tab","z":"","name":"Υγρασία αέρα","icon":"dashboard","order":3,"disabled":false,"hidden":false}]